# 
#        d8888 888                .d8888b.
#       d88888 888               d88P  Y88b
#      d88P888 888               888    888
#     d88P 888 88888b.   .d88b.  888        88888b.d88b.  88888b.
#    d88P  888 888 "88b d8P  Y8b 888        888 "888 "88b 888 "88b
#   d88P   888 888  888 88888888 888    888 888  888  888 888  888
#  d8888888888 888 d88P Y8b.     Y88b  d88P 888  888  888 888 d88P
# d88P     888 88888P"   "Y8888   "Y8888P"  888  888  888 88888P"
#                                                         888
# A simple file comparison tool                           888
#                                                         888
# Copyright (c) 2025, Abe Mishler
# Licensed under the Universal Permissive License v 1.0
# as shown at https://oss.oracle.com/licenses/upl/.
# 

BasedOnStyle: Mozilla

AlignTrailingComments: true
ColumnLimit: 0
IndentWidth: 4
UseTab: Never